version: 0.1.{build}
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- cmd: tools\NuGet\nuget.exe restore src\AgeBaseTemplate.sln
build:
  project: src\AgeBaseTemplate.sln
  verbosity: quiet