@inherits UmbracoViewPage<IMasterPage>
<!doctype html>
<html lang="@Culture">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    @RenderBody()
</body>
</html>
<!-- @DateTime.Now.ToUniversalTime() -->