<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Umbraco.ModelsBuilder.EnableApi" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="umbracoContentXMLStorage" value="EnvironmentTemp" xdt:Transform="Insert" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
    <caching>
      <outputCache enableOutputCache="true" xdt:Transform="SetAttributes(enableOutputCache)" />
    </caching>
    <trace enabled="false" localOnly="true" xdt:Transform="SetAttributes(enabled, localOnly)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
  </system.web>
</configuration>