<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Umbraco.ModelsBuilder.EnableApi" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <caching>
      <outputCache enableOutputCache="false" xdt:Transform="SetAttributes(enableOutputCache)" />
    </caching>
    <trace enabled="true" localOnly="false" xdt:Transform="SetAttributes(enabled, localOnly)" />
    <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>
</configuration>