.language-selector {
    @extend .dropdown;
    
    float: right;
    padding-left: $padding-base-horizontal;

    .dropdown-menu {
        @extend .dropdown-menu-right;
    }

    .flag {
        margin-right: $border-radius-base;
    }
}