<?xml version="1.0"?>
<log4net>

  <root>
    <appender-ref ref="AllTableAppender"/>
    <appender-ref ref="WarningsTableAppender"/>
  </root>

  <logger name="NHibernate">
    <level value="Off"/>
  </logger>

  <appender name="AllTableAppender" type="Our.Umbraco.AzureLogger.Core.TableAppender, Our.Umbraco.AzureLogger.Core">
    <param name="ConnectionString" value="LoggingTableStorage"/>
    <param name="TableName" value="agebasetemplatetracelog"/>
    <param name="TreeName" value="All Events"/>
    <bufferSize value="5"/>
  </appender>

  <appender name="WarningsTableAppender" type="Our.Umbraco.AzureLogger.Core.TableAppender, Our.Umbraco.AzureLogger.Core">
    <param name="ConnectionString" value="LoggingTableStorage"/>
    <param name="TableName" value="agebasetemplatewarnings"/>
    <param name="TreeName" value="Warnings"/>
    <param name="IconName" value="icon-alert"/>
    <threshold value="WARN"/>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="ERROR"/>
    </filter>
    <bufferSize value="0"/>
  </appender>

</log4net>