<?xml version="1.0"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="AllTableAppender" xdt:Locator="Match(name)">
    <threshold value="All" xdt:Transform="SetAttributes(value)" />
  </appender>
  <appender name="WarningsTableAppender" xdt:Locator="Match(name)">
    <threshold value="Warn" xdt:Transform="SetAttributes(value)" />
  </appender>
  <appender name="LocalRollingFile" xdt:Locator="Match(name)">
    <threshold value="Warn" xdt:Transform="SetAttributes(value)" />
  </appender>
</log4net>